*.[oa]
*~
*.swp
*.swo
*.bin
*.map
*.SESH
*.elf
*.exe
*.lss
*.sym
*.pre
*.hex
*.out
*.sw*
node_modules/*
gerbers.zip
gerbers/
*.lck
server/server
client/client
go.mod.local
go.sum.local
go.mod.official
go.sum.official
testclient/testclient
